tqdm=4.66.5
discord.py==2.4.0
peft @ git+https://github.com/huggingface/peft.git@f5dd2acfedd2f96ceee718a07456773207a53eb1
transformers @ git+https://github.com/huggingface/transformers.git@9db963aeed419c8379c6d6425186fec0bfb86908